server {
    listen 8000
    server_name localhost;

    root /usr/share/ngnix/html;
    index index.html
    
    location / {
        try_files $uri $uri/ index.html;
    }

    location ~* \.(js|css|png|jpeg|gif|ico|svg)$ {
        expires 30d
        add_header Cache-Control "public, no transform";
    }
}